<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/images/favicon.png">
    <title>TORNADO - L'outil qui va plus vite que PEGASS</title>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="col-md-6">
    <a class="float-right btn btn-outline-secondary help" href="/help">Aide</a>
    <h4 class="text-center">Loges</h4>
    {% for seance in g.seances %}
    <div class="alert alert-{% if seance.manque %}danger{% else %}success{% endif %} clickable" onclick="toggle('{{ seance.id }}')">
{{ seance.libelle }} ({{seance.structure}})<span class="maxi_date"> - {{ seance.date }}</span><span class="mini_date"><br/>{{ seance.date }}</span>
    </div>
    <div id="{{ seance.id }}" style="display: none">
    {% if seance.manque %}
    <div class="text-center"><b>{{ seance.manque_str }}</b></div>
    {% endif %}
    {% if seance.utilisateurs %}
    <table class="table table-striped">
    <thead>
    <tr>
        <td>Qualif.</td>
        <td>Bénévole</td>
        <td>UL</td>
        <td>Validé</td>
        <td>Horaires</td>
        <td>Commentaire</td>
    </tr>
    </thead>
    <tbody>
    {% for utilisateur in seance.utilisateurs %}
    <tr>
        <td>{{ utilisateur.role }}</td>
        <td>{{ utilisateur.prenom }} {{ utilisateur.nom }}</td>
        <td>{{ utilisateur.structure }}</td>
        <td><img src="/static/img/{{ utilisateur.statut |lower }}.png" /></td>
        <td>{{ utilisateur.debut }}-{{ utilisateur.fin }}</td>
        <td>{{ utilisateur.commentaire }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    </div>
    {% endfor %}
    </div>
<script type="text/javascript">
function toggle(id) {var c=document.getElementById(id);if (c.style.length==0){c.style='display:none';}else{c.style='';}};
function move() {window.location="/"+document.getElementById("structure").value;};
</script>
</body>
</html>
