body {
margin: 0;
font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
}

h1, h2, h3, h4, h5, h6 {
margin-bottom: .5rem;
font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: inherit;
}

h4 {
margin: 0;
font-size: 2rem;
}

a {
text-decoration: none;
}

button, input, optgroup, select, textarea {
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
}

table {
border-collapse: collapse;
width: 100%;
max-width: 100%;
margin-bottom: 1rem;
background-color: transparent;
}

.float-left{
float: left;
}

.float-right{
float: right;
}

.btn{
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: .5rem .75rem;
font-size: 1rem;
line-height: 1.25;
border-radius: .25rem;
transition: all .15s ease-in-out;
}

.btn:focus, .btn:hover {
text-decoration: none;
}

.btn-primary{
color: #fff;
background-color:#007bff;
border-color:#007bff;
}

.btn-outline-secondary{
color: #868e96;
background-color:#fff;
border-color:#868e96;
}

.help{display:none}

.text-center{
text-align: center;
}

.alert {
padding: .75rem 1.25rem;
margin-bottom: 0px;
border: 1px solid transparent;
border-radius: .25rem;
text-align:center
}

.alert-success {
color: #155724;
background-color: #d4edda;
border-color: #c3e6cb;
}

.alert-danger {
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
}

.clickable {
cursor: pointer;
}

.maxi_date {display:none}
.mini_date {display:inline}

.table td, .table th {
padding: .75rem;
vertical-align: top;
border-top: 1px solid #e9ecef;
}

.table-striped tbody tr:nth-of-type(2n+1) {
background-color: rgba(0,0,0,.05);
}

/********************************************************************************
Specific CSS for large devices
*********************************************************************************/
@media (min-width:992px) {
.col-md-6 {
flex: 0 0 50%;
max-width: 50%;
}
.alert{text-align:inherit}
.maxi_date {display:inline}
.mini_date {display:none}
.help{display:block}
}
